/* Navigation */
#navBar {
    flex-direction: column;
}

#navBar ul li a {
    font-size: 1 rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* home section */
#home {
    height: 370px;
    padding: 3px 28px;

}

#home::before {
    height: 480px;
}

#home p {
    font-size: 13px;
}

/* services section */
#services {
    flex-direction: column;
}

#services .box {
    margin: 2px 0px;
    padding: 14px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

/* client section */
#clients {
    flex-wrap: wrap;
}

#clients img {
    width: 66px;
    padding: 30px;
    height: auto;
}

/* contact section */
.h-primary {
    font-size: 26px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}